body{
    display: flex;
    text-align: center;
    justify-content: center;
}
.chessboard{
    border: 2px solid black;
    margin-top: 20px;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
.chessboard div{
    width: calc(100%/8);
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 1px white;
}
.a{
    background-color: white;
    width: 80px;
    height: 80px;
}
.b{
    background-color: green;
    width: 80px;
    height: 80px;
}