body{
    display: grid;
    text-align: center;
    justify-content: center;
}
.chessboard{
    border: 2px solid black;
    margin-top: 10px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.chessboard div{
    width: calc(100%/8);
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 1px white;
}
.a{
    background-color: white;
    width: 70px;
    height: 70px;
}
.b{
    background-color: green;
    width: 70px;
    height: 70x;
}
@media only screen and (max-width:610px){
    .chessboard{
        width: 400px;
        height: 440px;
    }
    .a{
        width: 50px;
        height: 55px;
    }
    .b{
        width: 50px;
        height:55px;
    }
    .chessboard div{
        font-size: 45px;
    }
}
@media only screen and (max-width:430px){
    .chessboard{
        width: 320px;
        height: 360px;
    }
    .a{
        width: 50px;
        height: 45px;
    }
    .b{
        width: 50px;
        height:45px;
    }
    .chessboard div{
        font-size: 35px;
    }
}